.ChatRoomBox{
    border-radius: 10px;
    /* border: 1px solid red; */
    height: 3em;
    vertical-align:middle;
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}
.ChatRoomBox:hover{
    background-color: #353740;
    cursor: pointer;
}
.ChatRoomIcon{
    height: 1.5em;
    width: 1.5em;
    margin: .5em;
}
.ChatRoomName{
    white-space: nowrap; 
    width: 13em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}